@page "/"

<PageTitle>Temporary Title of SPLORR!!</PageTitle>

<div tabindex="1" @onkeydown="HandleKeyDown" @onkeydown:preventDefault="ShouldPreventDefault">
	<table class="pixel-grid-table" >
		@foreach(int row in Enumerable.Range(0,64))
		{
			<tr>
				@foreach(int column in Enumerable.Range(0,64))
				{
					<td class="pixel-grid-td" style="background-color: @GetBackgroundColor(column, row)"></td>
				}
			</tr>
		}
	</table>
</div>

@code{
	IUIContext? context = null;
	const int BUFFER_WIDTH = 64;
	const int BUFFER_HEIGHT = 64;
	private bool ShouldPreventDefault = false;
	readonly IReadOnlyList<string> Palette = new List<string>()
	{
		"#000",
		"#00a",
		"#0a0",
		"#0aa",
		"#a00",
		"#a0a",
		"#a50",
		"#aaa",
		"#555",
		"#55f",
		"#5f5",
		"#5ff",
		"#f55",
		"#f5f",
		"#ff5",
		"#fff"
	};
	readonly IReadOnlyDictionary<string, string> CommandTable = new Dictionary<string, string>()
		{
			["q"] = Command.LEFT,
			["z"] = Command.UP,
			["w"] = Command.UP,
			["a"] = Command.LEFT,
			["s"] = Command.DOWN,
			["d"] = Command.RIGHT,
			["ArrowUp"] = Command.UP,
			["ArrowDown"] = Command.DOWN,
			["ArrowLeft"] = Command.LEFT,
			["ArrowRight"] = Command.RIGHT,
			[" "] = Command.GREEN,
			["Enter"] = Command.BLUE,
			["Tab"] = Command.YELLOW,
			["Escape"] = Command.RED
		};
	int[] FrameBuffer = new int[BUFFER_HEIGHT * BUFFER_WIDTH];
	private string GetBackgroundColor(int column, int row)
	{
		return Palette[FrameBuffer[column + row * BUFFER_WIDTH]];
	}
	protected override void OnInitialized()
	{
		base.OnInitialized();
		context = new UIContext(BUFFER_WIDTH, BUFFER_HEIGHT, FrameBuffer);
		context.Refresh();
	}
	private void HandleKeyDown(KeyboardEventArgs args)
	{
		if (CommandTable.TryGetValue(args.Key, out string? command))
		{
			ShouldPreventDefault = true;
		}
		else
		{
			ShouldPreventDefault = false;
		}
	}
}