@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>The Blue Room of SPLORR!!</PageTitle>

<table class="pixel-grid-table" tabindex="1" @onkeydown="HandleKeyDownAsync" @onkeydown:preventDefault="ShouldPreventDefault" autofocus>
	@foreach (int row in Enumerable.Range(0, BUFFER_HEIGHT))
	{
		<tr>
			@foreach(int column in Enumerable.Range(0,BUFFER_WIDTH))
			{
				<td class="pixel-grid-td" style="background-color: @GetBackgroundColor(column, row)"></td>
			}
		</tr>
	}
</table>
<audio id="PlayerHit" src="sfx/PlayerHit.wav"></audio>
<audio id="Take" src="sfx/Take.wav"></audio>
<audio id="Eat" src="sfx/Eat.wav"></audio>
<audio id="WooHoo" src="sfx/WooHoo.wav"></audio>
<audio id="Shucks" src="sfx/Shucks.wav"></audio>
<audio id="Yoink" src="sfx/Yoink.wav"></audio>
<audio id="Tasty" src="sfx/Tasty.wav"></audio>
<audio id="EnemyHit" src="sfx/EnemyHit.wav"></audio>
<audio id="EnemyMiss" src="sfx/EnemyMiss.wav"></audio>
<audio id="EnemyDeath" src="sfx/EnemyDeath.wav"></audio>
<audio id="PlayerHit" src="sfx/PlayerHit.wav"></audio>
<audio id="PlayerMiss" src="sfx/PlayerMiss.wav"></audio>
<audio id="PlayerDeath" src="sfx/PlayerDeath.wav"></audio>

@code{
	IUIContext context = new UIContext(BUFFER_WIDTH, BUFFER_HEIGHT, FrameBuffer);
	const int BUFFER_WIDTH = 64;
	const int BUFFER_HEIGHT = 64;
	private bool ShouldPreventDefault = false;
	readonly IReadOnlyList<string> Palette = new List<string>()
	{
		"#000",
		"#00a",
		"#0a0",
		"#0aa",
		"#a00",
		"#a0a",
		"#a50",
		"#aaa",
		"#555",
		"#55f",
		"#5f5",
		"#5ff",
		"#f55",
		"#f5f",
		"#ff5",
		"#fff",
		"#282828",
		"#282880",
		"#288028",
		"#288080",
		"#802828",
		"#802880",
		"#808028",
		"#808080"
	};
	readonly IReadOnlyDictionary<string, string> CommandTable = new Dictionary<string, string>()
		{
			["q"] = Command.Left,
			["z"] = Command.Up,
			["w"] = Command.Up,
			["a"] = Command.Left,
			["s"] = Command.Down,
			["d"] = Command.Right,
			["ArrowUp"] = Command.Up,
			["ArrowDown"] = Command.Down,
			["ArrowLeft"] = Command.Left,
			["ArrowRight"] = Command.Right,
			[" "] = Command.Green,
			["Enter"] = Command.Blue,
			["Tab"] = Command.Yellow,
			["Escape"] = Command.Red
		};
	static int[] FrameBuffer = new int[BUFFER_HEIGHT * BUFFER_WIDTH];
	private string GetBackgroundColor(int column, int row)
	{
		return Palette[FrameBuffer[column + row * BUFFER_WIDTH]];
	}
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		context.Refresh();
		await ProcessSfxAsync();
	}
	private async Task ProcessSfxAsync()
	{
		while (!string.IsNullOrEmpty(context.Sfx))
		{
			await JSRuntime.InvokeVoidAsync("playSfx", context.Sfx);
			context.NextSfx();
		}
	}
	private async Task HandleKeyDownAsync(KeyboardEventArgs args)
	{
		if (CommandTable.TryGetValue(args.Key, out string? command))
		{
			ShouldPreventDefault = true;
			context!.HandleCommand(command);
			context!.Refresh();
			await ProcessSfxAsync();
		}
		else
		{
			ShouldPreventDefault = false;
		}
	}
}